{% extends "base.html" %}
{% block formcontainer %}
<script language="JavaScript">
	function submitform() {
		document.forms["searchform"].submit();
	}
</script>
<div class="searchwidget">
	<form name="searchform" action="searchResult" />		
		<input type="text" name="search" />
			<select>
				<option value = "0" selected>All</option>
				<option value = "1">Particulars</option>
				<option value = "2">Project</option>
				<option value = "3">Issue</option>
				<option value = "4">Event</option>
				<option value = "5">General</option>
				<option value = "6">Not particulars</option>	
			</select>
		<input type="button" value = "search" onclick="javascript: submitform()"/>
	</form>
</div>
<div> This is a search Page </div>
{% endblock formcontainer %}